.company_information {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
    width: auto;
    margin-top: 2rem;
}
.comparision_result_page.vehicle {
    max-width: 70rem;
    margin: auto;
}
.company_information img {
    width: 7rem;
    height: 7rem;
    margin-right: 1rem;
}
.company_name h1 {
    font-size: var(--fs-lg);
    font-weight: 600;
}


.insurance_cards_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.insurance_cards {
    width: 48%;
    margin-bottom: 1rem;
    background-color: var(--hover-color);
    border-radius: 8px;
    padding: 1rem;
}

.insurance_cards.left li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    list-style: none;
    border-bottom: 1px solid #ccc;
    padding-block: 0.5rem;

}
.insurance_cards li span:nth-child(2) {
    font-weight: 600;
    margin-right: 1rem;
}
.insurance_card_button .btn-backbtn,
.insurance_card_button .btn-primary {
    margin-top: 1rem;
    outline: none;
    border: none;
    background-color: var(--secondary-color);
    color: white;
    padding: 0.8rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 40px;
    transition: all 0.3s;
    height: 3.4rem;
}
.insurance_card_button .btn-primary:hover {
    background-color: var(--secondary-color);
}


.insurance_card_button.submit_insurance button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 40px;
    border: none;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    transition: all 0.3s;
    width: 10rem;
}
.insurance_card_button.submit_insurance button .icon {
    margin-left: 1.5rem;
}
.insurance_cards_wrapper h3 {
    font-weight: 600;
    margin-top: 1rem;
}

.insurance_card.right li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    list-style: none;
    padding-block: 0.5rem;
    align-items: center;
}


.insurance_card.right li .feature *{
    display: block;
}

.feature_description button {
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 0.9rem;
}
.feature_description button svg {
    padding-top: 0.3rem;
    margin-right: 0.5rem;
}

.feature_description button.add {
    background-color: var(--green);
}
.feature_description button.remove {
    background-color: var(--red);
}

.large_text {
    font-size: calc(var(--fs-lg) + 0.2rem);
    font-weight: 600;
}

.flex_subscribe_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex_subscribe_button .btn-backbtn {
    background-color: transparent;
    border: 1.4px solid var(--primary-color);
    color: var(--primary-color);
    transition: all .2s ease-in-out;
}
.flex_subscribe_button .btn-backbtn:hover {
    border: 3px solid var(--primary-color);
    color: var(--primary-color);
    font-weight: 700;
}


